body{
    background-image: url(images/apple.jfif);
}

.search{
    display: flex;
    align-items: center;
    padding-left: 400px ;
    padding-top: 100px;
}

.search-tab{
    border-color:white;
    border-radius: 10px;
    height: 40px;
    width: 400px;
    transition: 0.8s;
}

.search-tab:hover{
    background-color: blanchedalmond;
    color: black;
}

.search-button{
    height: 30px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
}

.search-button:hover{
    background-color: black;
    color:gold;
}